# USDA Crop Data â€” Exploratory Data Analysis
This notebook performs an initial exploratory analysis of the processed USDA dataset.

## 1. Import Libraries

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.style.use("default")

## 2. Load Dataset

In [20]:
df = pd.read_csv("/home/emanuel/usda-etl-pipeline/data/processed/usda_processed.csv")
df.head()

   year state_name commodity_desc statisticcat_desc unit_desc  value
0  2025       IOWA           CORN    PRICE RECEIVED    $ / BU   4.37
1  2025       IOWA           CORN    PRICE RECEIVED    $ / BU   4.59
2  2025       IOWA           CORN    PRICE RECEIVED    $ / BU   4.53
3  2025       IOWA           CORN    PRICE RECEIVED    $ / BU   4.64
4  2025       IOWA           CORN    PRICE RECEIVED    $ / BU   4.64

## 3. Inspect Data

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2435 entries, 0 to 2434
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   year               2435 non-null   int64
 1   state_name         2435 non-null   object
 2   commodity_desc     2435 non-null   object
 3   statisticcat_desc  2435 non-null   object
 4   unit_desc          2435 non-null   object
 5   value              2435 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 114.3+ KB

## 4. Clean Dataset

In [22]:
df = df.dropna(subset=["value"])
df.describe()

              year         value
count  2435.000000  2.435000e+03
mean   2022.358111  2.848471e+08
std       1.640406  1.192730e+09
min    2020.000000  1.000000e+00
25%    2021.000000  6.200000e+00
50%    2022.000000  1.250000e+01
75%    2024.000000  2.000000e+02
max    2025.000000  1.635140e+10